div.ui.segment.landing{
    height: 89vh;
    display: flex;
    justify-content: center;
    align-content: center;
    margin: 10px;
}

div.ui.segment.landing-box{
    height: 80%;
    width: 30em;
    display: flex;
    flex-direction: column;
    text-align: center;
    justify-content: center;
    padding: 10px;
    margin: 20px;
}

img{
    align-self: center;
}

div.ui.segment > h1, div.ui.segment > h3 {
    font-family: monospace;
}

@media screen and (max-width: 44em) {
    div.ui.segment.landing{
        height: auto;
        max-height: 200vh;
        position: relative;
        display: flex;
        justify-content: flex-end;
        align-content: center;
        flex-direction: column;
        padding: 0;
        margin: 0;

    }
    div.ui.segment.landing-box{
        margin: 10px 0;
        width: 100%;
        display: flex;
        min-height: 40vh
    }
}


a.item.neonLogo, a.active.item.neonLogo  {
    text-transform: uppercase;
    text-shadow: 
        10px 10px 3px #a1a8d4, 
        -10px -10px 3px #F38375, 
        -20px -20px 3px #64F58D, 
        20px 20px 3px #9DFFF9; 
    overflow: hidden;

}








/* ABOUT SPECIFIC */

.about-text{
    overflow: scroll;
    text-align: left;
    text-indent: 10%;
    padding: 1.5em;
}
.about-text > p{
    line-height: 2em;
}

.about-title{
    padding-top: 1em;
}

/* CONTACT SPECIFIC */

.contact-info > h1, .contact-info > h3 {
    font-family: monospace;
    line-height: 0em;
}

.contact-info{
    height: 60%;
    align-self: center;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    text-align: right;
    text-indent: 1em;
}

/* BLOG SPECIFIC  */

.whole-container{
    margin: 10px;
}

.blog-segment{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.blog-container{
    width: 50%;
    display: flex;
    flex-direction: column;
    overflow: scroll;
}

.blog-segment > h1{
    font-family: monospace;
    padding: 1em;
}

.blog-image > h1{
    font-size: 3em;
    text-align: center;
    padding: 1em;
}

.blog-image:hover{
    opacity: 0.5;
}

@media screen and (max-width: 44em) {
    .whole-container{
        margin: 0;
    }
    .blog-container{
        width: 100%;
    }
}

/* PROJECT SPECIFIC */

.proj-segment{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.proj-segment > h1{
    padding: 1em;
}

.proj-container{
    width: 80%;
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr 1fr 1fr;
    column-gap: 2em;
    row-gap: 0em;
}

.actual-info > h2, .actual-info > h3{
    font-family: monospace;
    color: black;
    margin: 0.2em;
}

.actual-info{
    text-align: center;
    padding: 1em;
}

.proj-desc{
    text-align: left;
    padding: 1em;
}

.actual-image:hover{
    opacity: 0.5;
}

@media screen and (max-width: 44em) {
    .proj-container{
        width: 100%;
        grid-template-columns: 1fr;
        grid-template-rows: auto;
    }
}