div.ui.segment.landing{
    height: 89vh;
    display: flex;
    justify-content: center;
    align-content: center;
    margin: 10px;
}

div.ui.segment.landing-box{
    height: 80%;
    width: 25em;
    display: flex;
    flex-direction: column;
    text-align: center;
    justify-content: center;
    padding: 10px;
    margin: 20px;
}

img{
    align-self: center;
}

div.ui.segment > h1, div.ui.segment > h3 {
    font-family: monospace;
}

@media screen and (max-width: 44em) {
    div.ui.segment.landing{
        height: 200vh;
        position: relative;
        display: flex;
        justify-content: flex-end;
        align-content: center;
        flex-direction: column;
        padding: 0;
        margin: 0;

    }
    div.ui.segment.landing-box{
        padding: 10px;
        width: 90vw;
        display: flex;
    }
}


/* ABOUT SPECIFIC */

.about-text{
    overflow: scroll;
    text-align: left;
    text-indent: 10%;
}

/* CONTACT SPECIFIC */

.contact-info > h1, .contact-info > h3 {
    font-family: monospace;
    line-height: 0em;
}

.contact-info{
    height: 60%;
    align-self: center;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    text-align: right;
    text-indent: 1em;
}





